* MongoDB stores data in JSON-like documents, which makes the database very flexible and scalable.
* Python need a MongoDB driver to access the MongoDB database.
* Pymongo is MongoDB driver
* pip install pymongo

In [135]:
# import drvier 
import pymongo

### Creating Database

In [136]:
connectionString = "mongodb://localhost:27017"
myClient = pymongo.MongoClient(connectionString)
# Note: In MongoDB, a database is not created until it gets content!. MongoDB waits until you have created a collection (table), with at least one document (record) before it actually creates the database (and collection).

#### Check if database exit

In [137]:
print(myClient.list_database_names())

['admin', 'config', 'local', 'test', 'w3school']

In [138]:
databaseName = "w3school"
if databaseName in myClient.list_database_names():
    print(f"{databaseName} exits.")

w3school exits.

A collection in mongoDB is the same as a table in SQL database

### Creating A Collection

In [139]:
# MongoDB will create the collection if it doesn't exit.
db = myClient["w3school"]
print(db.list_collection_names())

['myCollection']

In [140]:
customers = db["customers"]
print(db.list_collection_names())
# Important: In MongoDB, a collection is not created until it gets content!

['myCollection']

A document in MongoDB is the same as record in SQL database.

### Insert Into Collection

In [141]:
newCustomer = {"name": "Jake", "surname":"Peralta"}
customers.insert_one(newCustomer)

!!! The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.

In [142]:
# insert_one()
newCustomer = {"name": "Michael", "surname":"Scofield"}
returnedValue = customers.insert_one(newCustomer)
print(returnedValue.inserted_id)

63f8d8eebd736fedc0ec0c68

In [143]:
# insert_many()
newCustomers =  [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
] 
returnedValue = customers.insert_many(newCustomers)
print(returnedValue.inserted_ids)

[ObjectId('63f8d8eebd736fedc0ec0c69'), ObjectId('63f8d8eebd736fedc0ec0c6a'), ObjectId('63f8d8eebd736fedc0ec0c6b'), ObjectId('63f8d8eebd736fedc0ec0c6c'), ObjectId('63f8d8eebd736fedc0ec0c6d'), ObjectId('63f8d8eebd736fedc0ec0c6e'), ObjectId('63f8d8eebd736fedc0ec0c6f'), ObjectId('63f8d8eebd736fedc0ec0c70'), ObjectId('63f8d8eebd736fedc0ec0c71'), ObjectId('63f8d8eebd736fedc0ec0c72'), ObjectId('63f8d8eebd736fedc0ec0c73'), ObjectId('63f8d8eebd736fedc0ec0c74')]

### Insert Multiple Documents, with Specified IDs

In [144]:
newCustomers = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
# The values has to be unique !!!!!
returnedValue = customers.insert_many(newCustomers)

In [145]:
print(returnedValue.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### Find
Just like the SELECT statement is used to find data in a table in a MySQL database.

In [30]:
# The find_one() method returns the first occurrence in the selection.
result = customers.find_one()
print(result)

{'_id': ObjectId('63f8c01ebd736fedc0ec0c1c'), 'name': 'Jake', 'surname': 'Peralta'}

In [37]:
# The find() method returns all occurrences in the selection.
# The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.
# No parameters in the find() method gives you the same result as SELECT * in MySQL.
result = customers.find()
# Find method returns iterable object.
print(result)
for document in result:
    print(document)

<pymongo.cursor.Cursor object at 0x000001AFA7CC3BE0>
{'_id': ObjectId('63f8c01ebd736fedc0ec0c1c'), 'name': 'Jake', 'surname': 'Peralta'}
{'_id': ObjectId('63f8c0a3bd736fedc0ec0c1d'), 'name': 'Michael', 'surname': 'Scofield'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c1e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c1f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c20'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c21'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c22'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c23'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c24'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c25'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c26'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c27'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c28'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c29'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

The second parameter of the find() method is an object describing which fields to include in the result.

In [56]:
for document in customers.find({},{"_id":1, "name":2, "address":3}):
    print(document)

{'_id': ObjectId('63f8c01ebd736fedc0ec0c1c'), 'name': 'Jake'}
{'_id': ObjectId('63f8c0a3bd736fedc0ec0c1d'), 'name': 'Michael'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c1e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c1f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c20'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c21'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c22'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c23'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c24'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c25'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c26'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c27'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c28'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c29'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

The first argument of the find() method is query object.

### Query
The first argument of the find() method is a query object, and is used to limit the search.

In [57]:
query = {"address": "Park Lane 38"}
result = customers.find(query)
for document in result:
    print(document)

{'_id': ObjectId('63f8c139bd736fedc0ec0c26'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [60]:
# Advance query with modifier
query = {"address": {"$gt": "S"}}
result = customers.find(query)
for document in result:
    print(document)

{'_id': ObjectId('63f8c139bd736fedc0ec0c20'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c23'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c25'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c29'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

### Filter with Regular Expressions
Regular expressions can only be used to query strings.

In [61]:
query = {"address": {"$regex": "^S"}}
result = customers.find(query)
for document in result:
    print(document)

{'_id': ObjectId('63f8c139bd736fedc0ec0c23'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8c139bd736fedc0ec0c29'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

### Sort

In [70]:
result = customers.find({},{"_id":0, "name":1}).sort("name", 1) # sort(fieldname, direction)
# 1 -> ascending , -1 -> descending
for document in result:
    print(document)

{'name': 'Amy'}
{'name': 'Amy'}
{'name': 'Ben'}
{'name': 'Ben'}
{'name': 'Betty'}
{'name': 'Betty'}
{'name': 'Chuck'}
{'name': 'Chuck'}
{'name': 'Hannah'}
{'name': 'Hannah'}
{'name': 'Jake'}
{'name': 'John'}
{'name': 'Michael'}
{'name': 'Michael'}
{'name': 'Michael'}
{'name': 'Peter'}
{'name': 'Richard'}
{'name': 'Richard'}
{'name': 'Sandy'}
{'name': 'Sandy'}
{'name': 'Susan'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Vicky'}
{'name': 'Viola'}
{'name': 'Viola'}
{'name': 'William'}
{'name': 'William'}

### Delete Document
* The first parameter of the delete_one() method is a query object defining which document to delete.
* If the query finds more than one document, only the first occurrence is deleted.

In [101]:
query = {"address": "Mountain 21"}
result = customers.delete_one(query)
print(result.deleted_count)
print(result.raw_result)

1
{'n': 1, 'ok': 1.0}

In [102]:
query = {"address": {"$regex": "^S"}}
result = customers.delete_many(query)
print(result.deleted_count, "documents deleted.")

6 documents deleted.

### Delete All Documents

In [133]:
query = {}
result = customers.delete_many(query)
print(result.deleted_count, "documents deleted.")

28 documents deleted.

### Delete Collection
You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [134]:
# Before deleting collection
print(db.list_collection_names())
customers.drop()
# After deleting collection
print(db.list_collection_names())

['customers', 'myCollection']
['myCollection']

### Update Document
* You can update a record, or document as it is called in MongoDB, by using the update_one() method.
* The first parameter of the update_one() method is a query object defining which document to update.

In [146]:
print(customers.count_documents({}))

28

In [147]:
# update_one(query, newValue)
query= {"address": "Valley 345"}
newValue= {"$set": {"address": "Canyon123"}}

print("Before updating...")
result = customers.find(query)
for document in result:
    print(document)
# Update happening here and just 1 document updating
customers.update_one(query, newValue)

print("After updating...")
result = customers.find(query)
# First found document updated
for document in result:
    print(document)

Before updating...
{'_id': ObjectId('63f8d8eebd736fedc0ec0c6b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
After updating...
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}

In [148]:
print("Before Updating....")
query = {"address": {"$regex": "^S"}}
result = customers.find(query, {"_id":0,"name":1})
for document in result:
    print(document)

# Update all documents where the address starts with letter "S"
newValue = {"$set": {"name": "Minnie"}}
customers.update_many(query, newValue)

print("After Updating....")
result = customers.find(query, {"_id":0,"name":1})
for document in result:
    print(document)

Before Updating....
{'name': 'Richard'}
{'name': 'Viola'}
{'name': 'Richard'}
{'name': 'Viola'}
After Updating....
{'name': 'Minnie'}
{'name': 'Minnie'}
{'name': 'Minnie'}
{'name': 'Minnie'}

### Limit The Result
The limit() method takes one parameter, a number defining how many documents to return.

In [151]:
query = {}
result = customers.find(query).limit(3)
for document in result:
    print(document)

{'_id': ObjectId('63f8d8eebd736fedc0ec0c67'), 'name': 'Jake', 'surname': 'Peralta'}
{'_id': ObjectId('63f8d8eebd736fedc0ec0c68'), 'name': 'Michael', 'surname': 'Scofield'}
{'_id': ObjectId('63f8d8eebd736fedc0ec0c69'), 'name': 'Amy', 'address': 'Apple st 652'}